body{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#F2F3F7;
}
h1{
	align-items: center;
	background: #303030;
	margin: 0;
	padding: 10px;
	color: #fff;
	font-weight: 300;
	text-align: center;
	overflow: hidden;
}
h1 a{
	text-decoration: none;
	color: #fff;
}
h2{text-align: center}

p{
	background: silver;
	width: 40%;
	margin: 50px auto;
	padding:10px;
}

img{
	display: block;
	margin: auto;
}

.item p{
	  text-align: center; 
}
.comprar{ 
	display: block; 
	width: 100px; 
	height: 30px;
	background: red;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	margin: 20px auto;
	border-radius: 5px;
}
.comprar:hover{
	background: green;
	color:#000;
}

.contenedor{
	max-width: 700px;
	margin: auto;
	padding:0;
	
	
}

.item{
	margin: 30px 0;
	width: 50%;
	float: left;
}
.item h2{
	text-align: center
}
.item a{
	display: block;
    margin: 9px auto;
    text-align: center;
    width: 100px;
    background: green;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.agregar{
	float: right;
	display: inline;
	
}

.agregar a{
	display: block; 
	width: 100px; 
	height: 30px;
	background:#F7BA3D;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	border-radius: 5px;
	font-size: 15px;
}

.agregar a:hover{
	color:#000;
}

form{
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	margin-top: 2rem;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

form label{
	text-align: left;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
}

form input {
	margin-bottom: 1rem;
	background: rgb(233, 231, 212);
	border: 1px solid #9c9c9c;
  }

form input[type="submit"]{
	display: block; 
	width: 100px; 
	height: 50px;
	background:#F7BA3D;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	border-radius: 5px;
	font-size: 15px;
}

form input[type="submit"]:hover{
	color:#000;
}

input {

	padding: 0.7em;
	margin-bottom: 0.5rem;
  }

