extends layout

block content

        h1
          a(href="/") La Tiendita

        div.contenedor
            p La Tiendita tiene las mejores camisetas originales de internet, satisfacción 100% garantizada

            img(src="img/camiseta1.png", width="250")
            
            a(href="/tienda").comprar  Ingresar